.coloring
{
    background-color: #00b7bd0a;
    background-color: #91a0a8;
    background-color: #cacaca;
    background:linear-gradient(100);
    background: linear-gradient(180deg, #01CCCE 0%, rgba(137, 202, 203, 0.97) 100%);
}